<p class="mb-8">
    {{ 'offline.mall::frontend.password_reset.lead_check' | trans }}
</p>
<form
    data-request="{{ __SELF__ }}::onResetPassword"
    data-request-update="'{{ __SELF__ }}::complete': '#partialUserResetForm'"
>

    <input type="hidden" name="token" value="{{ __SELF__.token }}"/>
    <input type="hidden" name="email" value="{{ __SELF__.email }}"/>

    <div class="mall-form-control">
        <label for="inputPassword">{{ 'offline.mall::frontend.password_reset.new_password' | trans }}</label>
        <input
            name="password"
            type="password"
            class="form-control"
            id="inputPassword"
            autocomplete="new-password"
        >
    </div>

    <div class="mall-form-control">
        <label for="inputPasswordConfirmation">{{ 'offline.mall::frontend.form.password_repeat' | trans }}</label>
        <input
            name="password_confirmation"
            type="password"
            class="form-control"
            id="inputPasswordConfirmation"
            autocomplete="new-password"
        >
    </div>


    <button
        type="submit"
        class="mall-btn mall-btn--primary"
    >{{ 'offline.mall::frontend.password_reset.reset' | trans }}</button>
</form>
