.mall-quick-checkout {
    display: flex;
    justify-content: space-between;

    &__content-column {
        flex: 2;
        padding-right: 2rem;
    }

    &__cart-column {
        @apply border-l border-grey-lighter;
        flex: 1;
        padding-left: 2rem;
    }

    &__collapsible {
        @apply border border-grey-light rounded shadow;
        &-header {
            @apply p-8 flex items-center;
        }
        &-element {
            @apply border-b border-grey-light;
            &:hover:not(mall-quick-checkout__collapsible-element--open) {
                @apply bg-grey-lightest cursor-pointer;
            }
        }
        &-inner {
            @apply  pb-4 px-8;
        }
        &-element--open {
            cursor: initial;
            .mall-quick-checkout__collapsible-content {
                max-height: 1600px;
            }
            .mall-quick-checkout__collapsible-summary {
                display: none;
            }
        }
        &-summary {
            @apply text-grey-dark ml-4 text-sm;
        }
        &-content {
            @apply overflow-hidden;
            transition: max-height 2s ease-out;
            max-height: 0;
        }
        .mall-quick-checkout__heading {
            @apply p-0 m-0;
        }
    }

    &__heading {
        @apply text-base text-grey-darkest uppercase;
    }

    &__sign-in-link {
        @apply text-grey-dark mb-4 -mt-2 text-sm;
    }

    &__payment-method-form > div {
        @apply mt-4;
    }

    .mall-cart {
        &__wrapper, &__table td {
            border: none;
        }
        &__table td {
            @apply px-0 py-2;
        }
    }

    &__actions {
        @apply mt-4;
    }

    .mall-btn-checkout {
        @apply text-lg font-bold uppercase w-full;
    }

    &__shipping-address-option {
        @apply mb-0 mt-2;
    }

    &__guest-option {
        @apply mb-6 -mt-1;
    }

    &__toggle-option {
        display: flex;
        justify-content: space-between;
        @apply text-sm text-grey-dark border-grey-light cursor-pointer no-underline;
        &-logo {
            width: 75px;
            flex: 0 0 75px;
            margin-left: 20px;
            display: flex;
            align-items: center;
        }

        &-image {
            max-width: 100%;
            display: block;
        }

        &-text {
            flex: 1 1 auto;
            @apply py-4;
        }

        &-price {
            @apply font-bold mt-1;
        }

        .mall-selection-indicator {
            margin-right: 20px;
        }

        &:hover .mall-selection-indicator:not(.mall-selection-indicator--active) {
            @apply text-grey-dark;
        }
    }

    .mall-form-control {
        @apply mb-4 w-full;
        input, textarea {
            @apply mall-input-sm text-sm;
        }

        select {
            @apply mall-selectbox-sm w-full text-sm;
        }
    }

    .mall-two-fields {
        @apply mb-4;
        mall-form-control {
            margin-bottom: 0;
        }
    }
    .mall-address-form--shipping {
        @apply mt-4;
    }

    .mall-signup-terms {
        @apply my-8;
    }
}

.mall-selection-indicator {
    @apply bg-grey-lighter text-grey-lighter py-4 font-bold;
    width: 32px;
    height: 32px;
    line-height: 1;
    border-radius: 50%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--active {
        @apply bg-blue-darker;
    }
}
