<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wishlist</title>
    <style>
        {% partial 'mallPDF/wishlist/styles.css' %}
    </style>
</head>
<body>
<h2>{{ wishlist.name }}</h2>

{% partial 'mallPDF/wishlist/table' items=wishlist.items %}

</body>
</html>